*{
    margin: 0px;
    padding: 0px;
}

.background{
     height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(354deg, rgba(4, 101, 160, 0.5) 32.43%, rgba(34, 252, 142, 0.3) 144.27%);
}

.logoimg{
    margin-top: 20px;
    margin-left: 20px;
    width: 33px;
}
.hover {
    display: inline-block;
    position: absolute;
    /* color: #0087ca; */
    color: rgba(3, 56, 83, 7);
    font-size: larger;
    font-family: 'Segoe UI';
    font-weight: 700;
    margin-top: 20px;
    margin-left: 63px

  }
  
  .hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b60d8c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.image1{
    width: 200px;
    margin: auto;
    margin-top: 60px;
}
#center{
    text-align: center;
}
.topic1{
    text-align: center;
    margin-top: 30px;
    font-family: segoe UI;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    color: rgba(3, 56, 83, 7);

}
.zustpey1{
    color: #20680e; 
    font-size: 24px;
    margin-top: 30px;
    
}
.zustpey{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;


}
.para{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI';
    margin-top: 30px;

}

@media only screen and (min-width: 600px) {
    .background{
        height: 100vh;
       background-size: cover;
       background-repeat: no-repeat;
       background-image: linear-gradient(354deg, rgba(4, 101, 160, 0.5) 32.43%, rgba(34, 252, 142, 0.3) 144.27%);
   }

 

}

@media only screen and (max-width:600px){
   .background{
    height: 1230px;
   }
   .hover{
    margin-top: -33px;
    margin-left: 279px;
   }
}
@media only screen and (min-width: 768px) {


}
